* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-transform: capitalize;
}

.card img {
    width: 120px;
    height: 120px;
}
@media (max-width: 600px) {
    .grid {
        /* Diminui o tamanho mínimo do card de 200px para 140px no celular */
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 10px;
        padding: 10px;
    }

    .card {
        padding: 10px; /* Reduz o espaço interno no celular */
    }

    .card img {
        width: 90px; /* Diminui a imagem do Pokémon no celular */
        height: 90px;
    }

    .paginacao button {
        padding: 15px 20px; /* Deixa o botão maior e mais fácil de tocar com o dedo */
        font-size: 16px;
    }
}
